@page "/bookings/create"
@using Microsoft.EntityFrameworkCore
@using CarParkManagementSystem.Domain
@inject IDbContextFactory<CarParkManagementSystem.Data.CarParkManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Booking</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Booking" OnValidSubmit="AddBooking" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookingdate" class="form-label">BookingDate:</label> 
                <InputDate id="bookingdate" @bind-Value="Booking.BookingDate" class="form-control" /> 
                <ValidationMessage For="() => Booking.BookingDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="starttime" class="form-label">StartTime:</label> 
                <InputDate id="starttime" @bind-Value="Booking.StartTime" class="form-control" /> 
                <ValidationMessage For="() => Booking.StartTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="endtime" class="form-label">EndTime:</label> 
                <InputDate id="endtime" @bind-Value="Booking.EndTime" class="form-control" /> 
                <ValidationMessage For="() => Booking.EndTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Booking.Status" class="form-control" /> 
                <ValidationMessage For="() => Booking.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserID:</label> 
                <InputNumber id="userid" @bind-Value="Booking.UserID" class="form-control" /> 
                <ValidationMessage For="() => Booking.UserID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="slotid" class="form-label">SlotID:</label> 
                <InputNumber id="slotid" @bind-Value="Booking.SlotID" class="form-control" /> 
                <ValidationMessage For="() => Booking.SlotID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="vehicleid" class="form-label">VehicleID:</label> 
                <InputNumber id="vehicleid" @bind-Value="Booking.VehicleID" class="form-control" /> 
                <ValidationMessage For="() => Booking.VehicleID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bookings">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Booking Booking { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBooking()
    {
        using var context = DbFactory.CreateDbContext();
        context.Booking.Add(Booking);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookings");
    }
}
