@page "/locations/create"
@using Microsoft.EntityFrameworkCore
@using CarParkManagementSystem.Domain
@inject IDbContextFactory<CarParkManagementSystem.Data.CarParkManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Location</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Location" OnValidSubmit="AddLocation" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label> 
                <InputText id="address" @bind-Value="Location.Address" class="form-control" /> 
                <ValidationMessage For="() => Location.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="postalcode" class="form-label">PostalCode:</label> 
                <InputNumber id="postalcode" @bind-Value="Location.PostalCode" class="form-control" /> 
                <ValidationMessage For="() => Location.PostalCode" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="capacity" class="form-label">Capacity:</label> 
                <InputNumber id="capacity" @bind-Value="Location.Capacity" class="form-control" /> 
                <ValidationMessage For="() => Location.Capacity" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/locations">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Location Location { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddLocation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Location.Add(Location);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/locations");
    }
}
