@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CarParkManagementSystem.Domain
@using CarParkManagementSystem.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CarParkManagementSystem.Data.CarParkManagementSystemContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Name" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.Password" />
    <PropertyColumn Property="user => user.CreatedDate" />
    <PropertyColumn Property="user => user.UpdatedDate" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?userid={user.UserID}")">Edit</a> |
        <a href="@($"users/details?userid={user.UserID}")">Details</a> |
        <a href="@($"users/delete?userid={user.UserID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CarParkManagementSystemContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
